 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: white;
     font-family: 'Roboto', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
} 

nav {
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    align-items: center; 
}
    
.flex-nav {
    flex:2;
    text-align: right;
}

.flex-nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
    position: relative;
} 

.flex-nav ul li a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
}

.flex-nav ul li::after {
    content: ''; 
    width: 0%;
    height: 2px;
    background: #5b7edf;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.flex-nav ul li:hover::after {
    width: 100%;
}

.active-index{
 background: #a4a4a4;
 border-radius: 35px;
 padding: 0px 20px;
 line-height: 50px !important;
 margin: auto;
}

.content-hem {
    width: 50%;
    color: rgb(10, 10, 10);
    position: absolute;
    top: 35%;
    left: 36%;
    font-size: 19px;
    font-weight: 300;
}

.content-hem h1 {
    font-size: 70px;
    color: #5b7edf;
}

.content-hem h2 {
    font-size: 40px;
    font-weight: 500;
    margin-left: 0px;
}

.content-hem p{
    letter-spacing: 1px;
}

.a.active {
    background-color: brown;
}

/*-------- OM ---------*/

* {
    background-color: rgb(253, 253, 253);
}
.active-about{
    background: #a4a4a4;
    border-radius: 35px;
    padding: 0px 20px;
    line-height: 50px !important;
    margin: auto;
   }

div.about {
    margin: auto;
    max-width: 80%;
    height: 70vh;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    border-radius: 20px;
    padding: 100px;
}

div.about h2 {
    font-size: 70px;
    color: black;
}

div.about p {
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
}

/*--------- CV ---------*/

.active-cv{
    background: #a4a4a4;
    border-radius: 35px;
    padding: 0px 20px;
    line-height: 50px !important;
    margin: auto;
   }

.main-content {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
}

.right-section {
    grid-column: span 5;
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.left-content {
    padding: 1rem 2rem;

}

.profile {
    width: 100%;
    border-bottom: 1px solid black;
}

.profile img {
    width: 100%;
    border-radius: 50%;
    border: 8px solid #5b7edf;
}

.name {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 1rem 0;
}

.career {
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.main-title {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 3rem;
}
.contact-info ul {
    padding-top: 2rem;
}

.contact-info ul li {
    padding: .4rem;
    display: flex;
    align-items: center; 
}

.skills-section ul li{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.skill-title {
    text-transform: uppercase;
    font-size: 1rem;
    display: grid;
    align-items: center;
}

.progress-bar{
    width: 100%;
    height: .4rem;
    background-color: rgb(44, 44, 51); 
    position: relative;
}

.progress{
    height: 100%;
    position: absolute;
    left: 0;
    background: rgb(107, 107, 245);
    border-radius: 12px;
}

.html-progress {
    width: 50%;
}

.right-title-about{
    font-size: 40px;
    text-transform: uppercase;
    color: #5b7edf;
    padding-bottom: 1rem;
}

.right-main-content{
    padding: 2rem 3rem;
}

.right-title-ex{
    font-size: 30px;
    text-transform: uppercase;
    color: #5b7edf;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title{
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: black;
    text-transform: uppercase;
}

.tl-title-2{
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: #5b7edf;
    text-transform: uppercase;
}

.tl-content{
    padding-bottom: 2rem;
}

.right-title-ed {
    font-size: 30px;
    text-transform: uppercase;
    color: #5b7edf;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/*--------Scroll up effekt for CV-------*/

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 50px;
    border: none; 
    outline: none; 
    background-color: #5b7edf;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

/* #myBtn:hover {
    background-color: #a4a4a4;

} */

/* .scroll-tracker {
    position: fixed;
    inset: 0 0 auto;
    height: 0.5rem;
    background-color: blue;
    transform-origin: left;
}
 */

/*--------Meda Querries for CV-------*/
@media screen and (max-width:823px) {
    .right-title::after{
        width:40%;
    }
}

@media screen and (max-width:681px) {
    .right-title::after{
        width:30%;
    }
}
@media screen and (max-width:780px) {
    .timeline{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .left-section{
        grid-column: span 3;
    }
    .right-section{
        grid-column: span 4;
    }
}

/*-------- Portfolio ---------*/

.active-portfolio{
    background: #a4a4a4;
    border-radius: 35px;
    padding: 0px 20px;
    line-height: 50px !important;
    margin: auto;
   }

.title h2 {
    font-size: 70px;
    width: 350px;
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 570px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.card i {
    font-size: 70px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #5b7edf;
    background-color: rgb(255, 255, 255);;
}

h5 {
   font-size: 23px;
   margin-bottom: 10px;
   background-color: rgb(255, 255, 255);;
}

.para p {
    color: #5b7edf;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    background-color:rgb(255, 255, 255);
}

.para-apple{
    color: #5b7edf;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
    padding-top: 25px;
    background-color:rgb(255, 255, 255);
}

/*-----MODAL POP-UP LEFT------*/

.left-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%); 
}

.content-school{
    opacity: 0;
    visibility: hidden;
    height: 400px;
    width: 335px;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%); 
}
#click-school:checked ~.content-school{
    opacity: 1;
    visibility: visible; 
}

#click-school{
    display: none; 
}

.click-me-school{
    display: block;
    width: 180px;
    height: 50px;
    background: #5b7edf;
    border: 1px solid black;
    color: black;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;   
}

.click-me-school:hover{
    background: #4766b9;
}

.content-school h2{
    padding: 20px 20px;
    padding-top: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.close-btn-school{
    bottom: 12px;
    border: 1px solid #5883fa;
    border-radius: 3px;
    color: #000000;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}

.close-btn-school:hover{
    background: #4766b9;
    transition: .4s;
}

.content-school h5{
    padding-bottom: 30px;
}

/*------- MODAL POP-UP CENTER--------*/

.center-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%); 
}

.content-apple{
    opacity: 0;
    visibility: hidden;
    height: 400px;
    width: 335px;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%); 
}

#click-apple:checked ~.content-apple{
    opacity: 1;
    visibility: visible; 
}

#click-apple{
    display: none; 
}

.click-me-apple{
    display: block;
    width: 180px;
    height: 50px;
    background: #5b7edf;
    border: 1px solid black;
    color: black;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;   
}

.click-me-apple:hover{
    background: #4766b9;
}

.content-apple h2{
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.close-btn-apple{
    bottom: 12px;
    border: 1px solid #5883fa;
    border-radius: 3px;
    color: #000000;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}

.content-apple p{
    padding-bottom: 25px;
}

.close-btn-apple:hover{
    background: #4766b9;
    transition: .4s;
}

/*------- MODAL POP-UP RIGHT--------*/

.right-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%); 
}

.content-facebook{
    opacity: 0;
    visibility: hidden;
    height: 400px;
    width: 335px;
    border-radius: 3px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%); 
}

#click-facebook:checked ~.content-facebook{
    opacity: 1;
    visibility: visible; 
}

#click-facebook{
    display: none; 
}

.click-me-facebook{
    display: block;
    width: 180px;
    height: 50px;
    background: #5b7edf;
    border: 1px solid black;
    color: black;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;   
}

.click-me-facebook:hover{
    background: #4766b9;
}

.content-facebook h2{
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
}

.close-btn-facebook{
    bottom: 11px;
    border: 1px solid #5883fa;
    border-radius: 3px;
    color: #000000;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
}

.content-facebook p{
    padding-top: 1px; 
}

.close-btn-facebook:hover{
    background: #4766b9;
    transition: .4s;
}

/*------- CONTACT -------*/

.active-contact{
    background: #a4a4a4;
    border-radius: 35px;
    padding: 0px 20px;
    line-height: 50px !important;
    margin: auto;
   }
